* {font-family: 'Roboto Condensed', sans-serif;}
body { padding: 70px 0 50px;}
footer .navbar .container {margin-top:7px;}

.half-transparent {opacity: 0.5;}
.navbar-default {background: #428bca;}
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {color: white; font-size: 180%; text-shadow: -1px -1px 0px #aaa;}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>span {color:white;}

#members-panel {position: fixed; right: 30px; min-width: 200px;}
#members .btn {text-align: left;}

#bug-panel {position: fixed; width: 280px; left: -220px; z-index: 1000}
#bug-panel i {font-size: 250%; padding-top: 10px;}

.image-attachment {max-height: 300px; vertical-align: top;}